<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>52462277483-u8aitrfvko1kfasg1pebhne42p7aqscm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.52462277483-u8aitrfvko1kfasg1pebhne42p7aqscm</string>
	<key>API_KEY</key>
	<string>AIzaSyDhdkpIBh7DwKXute17KJFyVgHgbbLDo3Q</string>
	<key>GCM_SENDER_ID</key>
	<string>52462277483</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>brandon.BarFoodMenu</string>
	<key>PROJECT_ID</key>
	<string>bar-menu-74786</string>
	<key>STORAGE_BUCKET</key>
	<string>bar-menu-74786.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:52462277483:ios:db8e0710a2dc569562722e</string>
	<key>DATABASE_URL</key>
	<string>https://bar-menu-74786.firebaseio.com</string>
</dict>
</plist>